[submodule "paddle-mobile"]
	path = paddle-mobile
	url = https://github.com/PaddlePaddle/paddle-mobile.git
[submodule "tensorflow"]
	path = tensorflow
	url = https://github.com/tensorflow/tensorflow.git
[submodule "pytorch"]
	path = pytorch
	url = https://github.com/pytorch/pytorch.git
